<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Momos Movie platform</title>

    <script>
      window.RESOURCES = {
        MOMOS_API_URL: '<%= MOMOS_API_URL %>'
      };
    </script>
  </head>

  <body class="bg-color">
    <div id="root"></div>
  </body>
</html>
