.bg-color {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #eeeeee 0%,
    #eeeeee 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #eeeeee 0%,
    #eeeeee 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #eeeeee 0%,
    #eeeeee 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

fieldset {
  border: 1px solid #343a40;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
}

legend {
  padding: 0.2em 0.5em;
  border: 1px solid #343a40;
  color: #444444;
  font-size: 90%;
  font-weight: bolder;
  border-radius: 5px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
  color: black;
  background-color: #fcd900;
}

.nav-pills > li.active > a:hover {
  background-color: #efcb00;
  color: black;
}

.more-option-dropdown-menu {
  min-width: 0 !important;
}

.border-primary {
  margin: -1px -1px 0 -1px;
}

.btn-primary {
  background-color: #343a40;
  border: 1px solid rgb(173, 181, 189);
}
.btn-primary:hover {
  background-color: #000;
  border: 1px solid rgb(173, 181, 189);
}

.btn-light {
  background-color: transparent;
  border: none;
}
